.container {
  border: 1px solid rgba(0, 0, 0, 0.151);
  box-shadow: 0px 6px 6px -4px rgb(0 0 0 / 0.3);
  width: 750px;
  height: 690px;
  overflow: scroll;
  /* margin: auto; */
  border-radius: 10px;
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
