* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===== Students ======= */
.students {
  border: 1px solid rgba(0, 0, 0, 0.151);
  box-shadow: 0px 6px 6px -4px rgb(0 0 0 / 0.3);
  width: 750px;
  height: 685px;
  overflow: scroll;
  /* margin: auto; */
  border-radius: 10px;
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.students::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.students {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.students-container {
  border: 1px solid white;
  width: 100%;
}

.students-wrapper {
  border-bottom: 1px solid var(--color-secondary);
  padding: 1rem 0.2rem;
}
.student-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student-data {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.img-container img {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  margin-top: 20px;
}

.student-data-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
}
.student-data-container {
  padding-left: 1.2rem;
}
.student-info {
  padding-left: 1.2rem;
}
.student-info p {
  line-height: 1.5rem;
  font-size: 1rem;
}
.student-details {
  display: flex;
  gap: 5px;
}
.tag-input-grades {
  padding-left: 1.2rem;
}
button {
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: var(--color-primary);
  outline: none;
  border: none;
  background-color: white;
  display: block;
  cursor: pointer;
}
button:hover {
  color: black;
}
