* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
}
:root {
  --color-primary: rgba(0, 0, 0, 0.4);
  --color-secondary: rgba(0, 0, 0, 0.116);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-primary);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-primary);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-primary);
}
